ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
  - host: hass.beaners.club
    paths:
    - path: /
      pathType: Prefix
  tls:
  - secretName: home-assistant-tls
    hosts:
    - hass.beaners.club
configuration:
  enabled: true