global:
  domain: argocd.beaners.club
server:
  certificate:
    enabled: true
    issuer:
      kind: ClusterIssuer
      name: letsencrypt
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: true
configs:
  params:
    server.insecure: false