global:
  fallbackDefaults:
    storageClass: local-path
  traefik:
    commonMiddlewares: []
    enableFixedMiddlewares: false
    fixedMiddlewares: []
podOptions:
  hostNetwork: true
  hostUsers: true
service:
  main:
    ports:
      main:
        protocol: http
        port: 8581
  miele:
    ports:
      miele:
        protocol: http
        port: 8582
ingress:
  main:
    enabled: true
    primary: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    ingressClassName: traefik
    hosts:
    - host: homebridge.beaners.club
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: homebridge-tls
      hosts:
      - homebridge.beaners.club
    integrations:
      certManager:
        enabled: true
        certificateIssuer: letsencrypt
      traefik:
        enabled: true
        entrypoints:
          - websecure
        forceTLS: true